{% extends "blog/base.html" %}
<!-- above line is taking the starting bit of code from base.html until block content tag -->
<!-- known as template inheritance -->


{% block content %}
    <!-- following code snippet from corey schafer article.html github -->
    <article class="media content-section">
        <img class = "rounded-circle article-img" src="{{object.author.profile.image.url}}">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{% url 'user-posts' object.author.username %}}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_objected|date:"m/d/y fa" }}</small> 
            <!-- |date is a filter. Diff styles outlined on django date documentation-->
            {% if object.author == user %}
            <div>
                <a class ="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class ="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        </div>
    </article>
<!-- How to write logic in html -->

{% endblock content %}
<!-- then using above block content in its place -->