{% extends "blog/base.html" %}

{% load crispy_forms_tags %} 
<!-- allows us to use crispy filter on any form -->
{% block content %}
    <div class = "content-section">
        <form method="POST">
            {% csrf_token %} 
            <!-- above is required by django for security -->
            <fieldset class = "form-group"> 
                <legend class = "border-bottom mb-4">
                    Blog Post
                </legend>
                {{ form| crispy}}
                <!-- above means form using crispy filter. vertical bar indicates a filter -->
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type = "submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}