{% extends "blog/base.html" %}
<!-- above line is taking the starting bit of code from base.html until block content tag -->

{% load crispy_forms_tags %} 
<!-- allows us to use crispy filter on any form -->
{% block content %}
    <div class = "content-section">
        <form method="POST">
            {% csrf_token %} 
            <!-- above is required by django for security -->
            <fieldset class = "form-group"> 
            <!-- classes in elements are bootstrap classes -->
                <legend class = "border-bottom mb-4">
                    Log-In
                </legend>
                {{ form| crispy}}
                <!-- above means form using crispy filter. vertical bar indicates a filter -->
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type = "submit">Log-In</button>
            </div>
        </form>
        <div class = "border-top pt-3">
            <small class = "text-muted">
                Want to create an account? Sign Up <a class = "ml-2" href="{% url 'register' %}"> Here</a>
            </small>
        </div>
    </div>
{% endblock content %}